* {
    margin: 0;
    padding: 0;
}

body {
	height: 100vh;
}

@keyframes gradient-effect{
    0%{background-position:50% 0%}
    50%{background-position:50% 6%}
    100%{background-position:50% 0%}
}

ul.slick-dots {
    text-align: left;
    bottom: -35px;
    left: -8px;
}

@media (min-width: 1024px) {

    ul.slick-dots {
        display: flex !important;
        justify-content: center;
        margin: 0px auto;
        bottom: -65px;
        width: 100%;
    }

    .slick-dots li button:before {
        font-size: 12px !important
    }


}
